@import "bootstrap"; // Import bootstrap
@import "variables"; // Custom variables
@import "fonts"; // Custom fonts
@import "forms"; // Custom forms
@import "buttons";  // Custom buttons

html, body {
  background: url('../images/bgpattern.png') repeat;
  letter-spacing: 2px;
}

.logo {
  background: @brand-white;
  padding-top: 35px;
  padding-bottom: 35px;
}

.form {
  background: @brand-white;
  padding-top: 5px;
  padding-bottom: 5px;

  button {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.main {
  background: @brand-white;
  padding: 0 15px 15px;
}

footer {
  a {
    color: @brand-secondary;
    letter-spacing: 0;
  }
}

p {
  margin: 0 0 20px;
}

.intro {
  padding-top: 5px;
  padding-bottom: 5px;
  h1 {
    font-size: 42px;
    margin-bottom: 2px;
  }
}

.description {
  letter-spacing: normal;
  font-size: 16px;
  color: lighten(@brand-secondary, 35%);
}

.email-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.spin {
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

.still {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}