@import "bootstrap"; // Import bootstrap
@import "variables"; // Custom variables
@import "forms"; // Custom forms
@import "buttons";  // Custom buttons
@import "modals";  // Custom Modals
@import "mediaqueries"; // Custom Media Queries

html, body {
  background: url('../images/bgpattern.png') repeat;
  background-position: center;
  letter-spacing: 0.07em;
}

.app {

  padding: 50px 0 50px 0;

  .main {
    background: @brand-white;
    padding: 15px;
  }

  p {
    margin: 0 0 20px;
  }

  p.description {
    font-size: 17px;
    color: lighten(@brand-secondary, 35%);
  }

  .logo {
    background: @brand-white;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .intro {
    padding-top: 5px;
    padding-bottom: 5px;
    h1 {
      font-size: 42px;
      margin-bottom: 2px;
      letter-spacing: 0.05em;
    }
  }

  .form {
    background: @brand-white;
    padding-top: 5px;
    padding-bottom: 5px;

    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  footer {
    font-family: @font-family-secondary;
    color: @brand-secondary;
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 18px;

    a {
      color: lighten(@brand-secondary, 50%);
      &:hover {
        text-decoration: none;
        color: @brand-primary;
      }
    }
  }

  // Aldo email animation
  .spin {
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
  }

  .email-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
  }

  .still {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.rtl {
  direction: rtl;

  // Firstname field needs to come first
  .first-name {
    float: right;
  }
  .last-name {
    float: left;
  }
}